<div class="section">
  <div class="container adminScreen">
    <h1>Blog</h1>
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
      <div class="form-group" *ngIf="isAdmin || isBlogAdmin">
        <label for="id">ID</label>
        <input type="text" id="id" formControlName="id" class="form-control" />
      </div>
      <div class="form-group">
        <label for="title">Título <span style="color: red;">*</span></label>
        <input type="text" id="title" formControlName="title" class="form-control" />
        <div *ngIf="blogForm.get('title').errors && blogForm.get('title').errors.required && (blogForm.get('title').touched || blogForm.get('title').dirty)" class="error">
          Este campo es obligatorio
        </div>
      </div>
      <div class="form-group">
        <label for="description">Descripción <span style="color: red;">*</span></label>
        <input type="text" id="description" formControlName="description" class="form-control" />
        <div *ngIf="blogForm.get('description').errors && blogForm.get('description').errors.required && (blogForm.get('description').touched || blogForm.get('description').dirty)" class="error">
          Este campo es obligatorio
        </div>
      </div>
      <div class="form-group">
        <label for="content">Contenido <span style="color: red;">*</span></label>
        <textarea id="content" formControlName="content" class="form-control"></textarea>
        <div *ngIf="blogForm.get('content').errors && blogForm.get('content').errors.required" class="error">
          Este campo es obligatorio
        </div>
      </div>
      <!-- <button type="submit" [disabled]="blogForm.invalid">Submit</button> -->
      <div class="btn-menu">
        <button [disabled]="blogForm.invalid" (click)="updateBlog()" class="btn btn-primary btn-lg btn-action"
          type="button">
          Modificar
        </button>
        <button [disabled]="blogForm.invalid" (click)="createBlog()" class="btn btn-primary btn-lg btn-action"
          type="button">
          Crear
        </button>
      </div>
    </form>
  </div>
</div>