<style>
    .page-header[filter-color="purpleGC"] {
        background-color: rgba(133, 31, 60, 0.52);
    }
</style>
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="purpleGC">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/blog.png');">


        </div>
        <div class="container title">
            <h1 class="title">Nuestros Servicios</h1>
            <h2>Nos enfocamos en las necesidades de nuestros clientes</h2>
        </div>
    </div>

    <div class="main">
        <div class="section">
            <div class="midContainer claret">
                <div class="serviceContent">
                    <div class="iconDiv"><img src="assets/img/recruitment.png" class="iconService" alt=""></div>
                    <h2 class="phraseTitle">Reclutamiento y Seleccion</h2>
                    <h5>Usando las mejores herramientas de reclutamiento, evaluación y selección de personal,
                        realizamos un riguroso proceso para garantizar la incorporación del mejor talento para tu
                        empresa, que se adapte a la cultura y metodología de trabajo, que aporte valor con su
                        experiencia y habilidades.</h5>
                </div>
            </div>
            <div class="midContainer white">
                <div class="serviceContent">
                    <div class="iconDiv"><img src="assets/img/outsourcing.png" class="iconService" alt=""></div>
                    <h2 class="phraseTitle">OutSourcing</h2>
                    <h5>Brindamos OutSourcing enfocado en temas de selección y nómina, contemplando estrategias y
                        generando valor agregado a cada uno de los procesos.</h5>
                </div>
            </div>
        </div>
        
    </div>
</div>