<div class="adminScreen">
	<h1>Historial de Comentarios</h1>
	<br>
	<div style="display: flex; align-items: center; justify-content: start; gap: 1rem">
	<h3> Blog: </h3> <span style="font-size: 1.15rem;">{{blog.title}}</span>
</div>
	<table class="table">
		<thead>
			<tr>
				<!-- <th scope="col">#</th> -->
				<th scope="col" sortable="name">Autor</th>
				<th scope="col" sortable="area">Comentario</th>
				<th scope="col" sortable="population">Modificado</th>
				<th scope="col" sortable="population" style="text-align: center;">Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let comment of comments">
				<th scope="row">{{ comment.userId }}</th>
				<td>
					{{ comment.content }}
				</td>
				<td>{{ comment.created_at }}</td>
				<td>
					<div class="actionIcons">
						<i class="material-icons iconButton" (click)="edit(comment)">edit</i>
						<i class="material-icons iconButton">delete</i>
					</div>
				</td>
			</tr>

		</tbody>
	</table>

	<!-- <input type="button" (click)="onSubmit()" class="" placeholder="Guardar"> -->

</div>