<div class="wrapper">
	<div class="page-header page-header-small">
		<div class="page-header-image rellax-header" data-rellax-speed="-8"
			style="background-image: url('assets/img/blog-entry.jpg');">
		</div>
		<div class="container">
			<div class="content-center">
				<h1 class="title" style="visibility: hidden;">This is our great company.</h1>
				<div class="text-center" style="visibility: hidden;">
					<a href="#pablo" class="btn btn-primary btn-icon btn-round">
						<i class="fab fa-facebook-square"></i>
					</a>
					<a href="#pablo" class="btn btn-primary btn-icon btn-round">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="#pablo" class="btn btn-primary btn-icon btn-round">
						<i class="fab fa-google-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="adminScreen" style="margin: 10em 8em;">
		<h1>Historial de Comentarios</h1>
		<br>
		<div class="blogDetail">
			<h3> Blog: </h3> <span style="font-size: 1.15rem;">{{blog.title}}</span>
		</div>
		<table class="table">
			<thead>
				<tr>
					<!-- <th scope="col">#</th> -->
					<th scope="col" sortable="name">Autor</th>
					<th scope="col" sortable="area">Comentario</th>
					<th scope="col" sortable="population">Publicación</th>
					<th scope="col" sortable="population">Estado</th>
					<th scope="col" sortable="population" style="text-align: center;">Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let comment of comments">
					<th scope="row">{{ comment.first_name }}</th>
					<td>
						{{ comment.content }}
					</td>
					<td>{{ comment.date }}</td>
					<td>{{ comment.activo }}</td>
					<td>
						<div class="actionIcons">
							<!-- <i class="material-icons iconButton" (click)="edit(comment)">edit</i> -->
							<i class="material-icons iconButton" *ngIf="comment.is_active == 'Y'"
								(click)="inactive(comment)">visibility</i>
							<i class="material-icons iconButton" *ngIf="comment.is_active == 'N'"
								(click)="activate(comment)">visibility_off</i>
							<i class="material-icons iconButton">delete</i>
						</div>
					</td>
				</tr>

			</tbody>
		</table>

		<!-- <input type="button" (click)="onSubmit()" class="" placeholder="Guardar"> -->

	</div>
</div>