<div class="section">
    <div class="card mt-4">
        <h4 class="card-header">Portal Administrador - Gestion y Cambio</h4>
        <div class="card-body">
            <p>A esta página <u>solo pueden acceder usuarios ADMINISTRADORES</u>.</p>
            <p class="mb-1">Usuarios administradores consultados a WebService Seguro (API solo administradores)</p>
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <ul *ngIf="users">
                <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
            </ul>
        </div>
    </div>
</div>
