<div class="section">
	<div class="container adminScreen">
		<h1>Formulario de Usuario</h1>
		<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
			<div class="form-group" *ngIf="isAdmin">
				<label for="id">ID:</label>
				<!-- <input type="hidden" id="id" formControlName="id" class="form-control" /> -->
				<input type="text" id="id" formControlName="id" class="form-control" disabled />
				<div *ngIf="userForm.get('id').errors && userForm.get('id').errors.required" class="error">
					ID is required.
				</div>
			</div>
			<div class="form-group" *ngIf="isAdmin">
				<label for="is_active">Estado:</label>
				<!-- <input type="hidden" id="id" formControlName="id" class="form-control" /> -->
				<input type="text" id="is_active" formControlName="is_active" class="form-control" disabled />
				<div *ngIf="userForm.get('is_active').errors && userForm.get('is_active').errors.required" class="error">
					Este es un campo obligatorio
				</div>
			</div>
			<div class="form-group">
				<label for="username">Nombre de usuario <span style="color: red;">*</span></label>
				<input type="text" id="username" formControlName="username" class="form-control" />
				<div *ngIf="userForm.get('username').errors && userForm.get('username').errors.required && (userForm.get('username').dirty || userForm.get('username').touched)" class="error">
					Este campo es obligatorio
				</div>
			</div>
			<div class="form-group">
				<label for="firstName">Nombres <span style="color: red;">*</span></label>
				<input type="text" id="firstName" formControlName="firstName" class="form-control" />
				<div *ngIf="userForm.get('firstName').errors && userForm.get('firstName').errors.required && (userForm.get('firstName').dirty || userForm.get('firstName').touched)" class="error">
					Este campo es obligatorio
				</div>
			</div>
			<div class="form-group">
				<label for="lastName">Apellidos <span style="color: red;">*</span></label>
				<input type="text" id="lastName" formControlName="lastName" class="form-control" />
				<div *ngIf="userForm.get('lastName').errors && userForm.get('lastName').errors.required && (userForm.get('lastName').dirty || userForm.get('lastName').touched)" class="error">
					Este campo es obligatorio
				</div>
			</div>
			<div class="form-group">
				<label for="email">Email <span style="color: red;">*</span></label>
				<input type="text" id="email" formControlName="email" class="form-control" />
				<div *ngIf="userForm.get('email').errors && userForm.get('email').errors.required && (userForm.get('email').dirty || userForm.get('email').touched)" class="error">
					Este campo es obligatorio
				</div>
				<div *ngIf="userForm.get('email').errors && userForm.get('email').errors.email && (userForm.get('email').dirty || userForm.get('email').touched)" class="error">
					Correo inválido
				</div>
			</div>
			<div class="form-group">
				<label for="password">Contraseña <span style="color: red;">*</span></label>
				<input type="password" id="password" formControlName="password" class="form-control" />
				<div *ngIf="userForm.get('password').errors && userForm.get('password').errors.required && (userForm.get('password').dirty || userForm.get('password').touched)" class="error">
					Este campo es obligatorio
				</div>
				<div *ngIf="userForm.get('password').errors && userForm.get('password').errors.minLength && (userForm.get('password').dirty || userForm.get('password').touched)" class="error">
					Mínimo 8 caracteres
				</div>
			</div>
			<div class="form-group">
				<label for="passwordConfirmation">Confirmar Contraseña <span style="color: red;">*</span></label>
				<input type="password" id="passwordConfirmation" formControlName="passwordConfirmation" class="form-control" />
				<div *ngIf="userForm.get('passwordConfirmation').errors && userForm.get('passwordConfirmation').errors.required && (userForm.get('passwordConfirmation').dirty || userForm.get('passwordConfirmation').touched)" class="error">
					Este campo es obligatorio
				</div>
				<div *ngIf="userForm.get('passwordConfirmation').errors && userForm.get('passwordConfirmation').errors.minLength && (userForm.get('passwordConfirmation').dirty || userForm.get('passwordConfirmation').touched)" class="error">
					Mínimo 8 caracteres
				</div>
			</div>
			<div class="form-group">
				<label for="role">Rol <span style="color: red;">*</span></label>
				<select class="form-control" id="role" formControlName="role">
					<option disabled>Seleccione un Rol</option>
					<option value="User">User</option>
					<option value="Admin">Admin</option>
					<option value="BlogAdmin">Blog Administrator</option>
				</select>
				<!-- <input type="role" id="role" formControlName="role" class="form-control" /> -->
				<div *ngIf="userForm.get('role').errors && userForm.get('role').errors.required && (userForm.get('role').dirty || userForm.get('role').touched)" class="error">
					Este campo es obligatorio
				</div>
			</div>
			<div class="btn-menu">
				<button *ngIf="editing" [disabled]="userForm.invalid" (click)="updateUser()" class="btn btn-primary btn-lg btn-action"
					type="button">
					Modificar
				</button>
				<button *ngIf="!editing" [disabled]="userForm.invalid" (click)="createUser()" class="btn btn-primary btn-lg btn-action"
					type="button">
					Crear
				</button>
			</div>
		</form>
	</div>
</div>