<style>
    .page-header[filter-color="purpleGC"] {
        background-color: rgba(133, 31, 60, 0.52);
        /* For browsers that do not support gradients */
        /* background: -webkit-linear-gradient(90deg, rgba(133,31,60, 0.2), rgba(133,31,60, 0.6));
    /* For Safari 5.1 to 6.0 */
        /* background: -o-linear-gradient(90deg, rgba(133,31,60, 0.2), rgba(133,31,60, 0.6)); */
        /* For Opera 11.1 to 12.0 */
        /* background: -moz-linear-gradient(90deg, rgba(133,31,60, 0.2), rgba(133,31,60, 0.6)); */
        /* For Firefox 3.6 to 15 */
        /* background: linear-gradient(0deg, rgba(133,31,60, 0.2), rgba(133,31,60, 0.6)); */
        /* Standard syntax */
    }
</style>
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="purpleGC">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/home.png');">


        </div>
        <div class="container title">
            <h1 class="title">Desarrolla el potencial de tu organización</h1>
        </div>
    </div>

    <div class="main">
        <div class="section textAndImage">
            <div class="midContainer" >
                <!-- <div style="display: flex;justify-content: center; align-items: center;"> -->
                    <div class="content-center brand">
                        <h1 class="phraseTitle">Nuestro pensamiento</h1>
                        <h3 class="phraseContent">"El factor humano es lo que hace la diferencia entre las compañías de éxito y las que quieren alcanzarlo"</h3>
                        <h3 class="author" >Catherine Avilés</h3>
                        <h3 class="author" >Gerente General</h3>
                    </div>
                <!-- </div> -->
            </div>
            <div class="imgContainer">                    
                <img src="assets/img/caty.png" alt="">
                <!-- <div class="image-container" style="background-image: url('assets/img/caty.png')"></div> -->                
            </div>
        </div>
        <div class="section">
            <div style="display: flex;justify-content: center;align-self: center;">
                <img src="assets/img/ourClients.png" alt="">   
            </div>       
        </div>
    </div>        
</div>
