.title {
    display: flex;
    align-items: center;
    font-size: 80px;
    text-align: left;
    font-weight: 800;
}

.midContainer {
    width: 50vw;
    padding: 4em 2.5em;
}

.section.textAndImage {
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.imgContainer{
    padding: 2em 3em;
    width: 30vw;
}

.imgContainer img{
    height: 100%;
    box-shadow: 0 10px 25px #0000004d;
    border-radius: 0.25rem;    
}

.phraseTitle {
    font-size: 60px;
    text-align: left;
    font-weight: 600;
}

.author {
    font-weight: bold;
    margin-bottom: 0;
}