h2 {
    font-size: 0.45em;
}

/* .section.about-us {
    background-image: url("../../../assets/img/miviva.png");
    background-size: contain;
} */

.title {
    display: flex;
    font-size: 2.5em;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 2em 0 0 0;
}

.midContainer {
    width: 50vw;
}

.midContainer.claret {
    background-color: #851f3c;
    color: #ffffff;
}

.midContainer.white {
    width: #ffffff;
    color: #851f3c;
}

.serviceContent {
    padding: 4em 2.5em;
    margin: auto;
}

.section {
    display: flex;
    /* height: 700px; */
    padding: 0;
    display: flex;
    justify-content: space-between;

}

.section img {
    height: 100%;

}

/* .midContainer img {
    height: 100%;
} */

.phraseTitle {
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}

.author {
    font-weight: bold;
    margin-bottom: 0;
}

.iconDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2.2em;
}

.iconService {
    width: 25%;
}

.color-overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.color-overlay-claret {
    background-color: rgba(95, 22, 42, 0.52);
    width: 33.33%;
    height: 100%;
    color: #ffffff;
    padding: 5em 2em;
}

.color-overlay-white {
    background-color: rgba(219, 215, 205, 0.52);
    width: 33.33%;
    height: 100%;
    color: #851f3c;
    padding: 5em 2em;
}

.color-overlay h5 {
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.bannerAboutUs {
    background-image: url("assets/img/miviva.png");
    background-size: cover;
    height: 70vh;
}

.overLayContent {
    font-size: 1.5em;
}

.imgContainer {
    padding: 2em 3em;
    /* width: 30vw; */
}

.imgContainer img {
    height: 100%;
    box-shadow: 0 10px 25px #0000004d;
    border-radius: 0.25rem;
}

.centerElements {
    max-width: 35vw;
}

.centerElements img {
    height: 100%;
    box-shadow: 0 10px 25px #0000004d;
    border-radius: 0.25rem;
}

.textAndImage {
    display: flex;
    align-items: center;
    padding: 5em 0;
    justify-content: space-evenly;
}

.textAndImage img {
    width: 100%;
    max-width: 40vw;
}

.overlayImage {
    position: relative;
}

.overlayImage:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(95, 22, 42, 0.52);
    z-index: 999;
}

.nosotrosList{
    padding: 0 1em;
}

.nosotrosListItem{
    margin: 1em 0;
}

@media only screen and (max-width: 600px) {
    
    .title {
        font-size: 1.7em;
        align-items: center;
    }

    .title h2 {
        font-size: 0.8em;
    }

    .textAndImage {
        flex-direction: column-reverse;
        align-items: center;
    }

    .textAndImage img {
        max-width: 80vw;
    }

    .centerElements{
        max-width: 80%;
        margin: 1em 0;
    }

    .bannerAboutUs{
        background-image: none;
        height: fit-content;
    }
    
    .color-overlay {
        flex-direction: column;
        height: fit-content;
        position: relative;
    }

    .color-overlay-claret {
        width: 100%;
    }

    .color-overlay-white {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1366px) {
    
}


@media only screen and (min-width: 1366px) and (max-width: 2400px) {
    
}