<style>
    .page-header[filter-color="purpleGC"] {
        background-color: rgba(133, 31, 60, 0.52);
    }
</style>
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="purpleGC">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/aboutUs.png');">


        </div>
        <div class="container title">
            <h1 class="title">Quiénes Somos</h1>
            <h2>Conoce sobre nosotros</h2>
        </div>
    </div>

    <div class="main">
        <div class="section bannerAboutUs">
            <!-- <img src="../../../assets/img/miviva.png" style="width: 100vw;"> -->
            <div class="color-overlay">
                <div class="color-overlay-claret">
                    <h5>Misión</h5>
                    <div class="overLayContent">Cumplir con las exceptivas de nuestros clientes, obteniendo los mejores resultados en sus gestiones.</div>
                    
                </div>
                <div class="color-overlay-white">
                    <h5>Visión</h5>
                    <div class="overLayContent">Lograr ser una consultora reconocida a nivel nacional e internacional, ofreciendo servicios de calidad a nuestros clientes, a través de atención personalizada en cada uno de sus requerimientos.</div>
                    
                </div>
                <div class="color-overlay-claret">
                    <h5>Valores</h5>
                    <div class="overLayContent">
                        <ul>
                            <li>Responsabilidad</li>
                            <li>Integridad</li>
                            <li>Calidad</li>
                            <li>Trabajo en equipo</li>
                            <li>Orientación al cliente</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>