<style>
    .page-header[filter-color="purpleGC"] {
        background-color: rgba(133, 31, 60, 0.52);
    }
</style>
<div class="wrapper">
    <div class="page-header clear-filter" filter-color="purpleGC">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/aboutUs.png');">


        </div>
        <div class="container title">
            <h1 class="title">Quiénes Somos</h1>
            <h2>Conoce sobre nosotros</h2>
        </div>
    </div>

    <div class="main">
        <section>
            <div class="textAndImage">
                <div class="centerElements overlayImage">
                    <img src="assets/img/serviciosGestion.png">
                </div>
                <div class="centerElements">
                    <h3>Somos Gestión & Cambio
                        <br>
                        <small>
                            Somos un grupo de profesionales en Psicología Organizacional. Estamos enfocados en
                            ofrecer servicios acorde a las necesidades de cada cliente. Nuestro objetivo es poder
                            brindar experiencias invaluables a través de servicios de calidad, personalizados y
                            enfocados.
                            Como dice nuestro nombre, nosotros gestionamos los requerimientos de nuestros clientes
                            teniendo como resultado cambios positivos para cada uno de ellos.
                        </small>
                    </h3>
                </div>
            </div>
        </section>
        <div class="section bannerAboutUs">
            <!-- <img src="../../../assets/img/miviva.png" style="width: 100vw;"> -->
            <div class="color-overlay">
                <div class="color-overlay-claret">
                    <h5>Misión</h5>
                    <div class="overLayContent">Cumplir con las exceptivas de nuestros clientes, obteniendo los mejores
                        resultados en sus gestiones.</div>

                </div>
                <div class="color-overlay-white">
                    <h5>Visión</h5>
                    <div class="overLayContent">Lograr ser una consultora reconocida a nivel nacional e internacional,
                        ofreciendo servicios de calidad a nuestros clientes, a través de atención personalizada en cada
                        uno de sus requerimientos.</div>

                </div>
                <div class="color-overlay-claret">
                    <h5>Valores</h5>
                    <div class="overLayContent">
                        <ul>
                            <li>Responsabilidad</li>
                            <li>Integridad</li>
                            <li>Calidad</li>
                            <li>Trabajo en equipo</li>
                            <li>Orientación al cliente</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="textAndImage">
                <div class="centerElements">
                    <h3>Nuestro cliente es el pilar fundamental de la empresa</h3>
                    <ul class="nosotrosList">
                        <li class="nosotrosListItem">Brindamos servicios a la medida de sus necesidades.</li>
                        <li class="nosotrosListItem">Acompañamos a nuestros clientes en todo el  proceso estratégico.</li>
                        <li class="nosotrosListItem">Realizamos el seguimiento necesario para el cumplimiento de sus objetivos.</li>
                    </ul>
                </div>
                <div class="centerElements overlayImage">
                    <img src="assets/img/clientePrimero.png">
                </div>
                
            </div>
        </section>
    </div>
</div>