.actionIcons {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.iconButton {    
    transition: all 0.15s ease-out;
    cursor: pointer;
}

.iconButton:hover {
    transform: scale(1.15);
}

.material-icons.hoverMostrar::before{
    content: "person";
}

.material-icons.hoverMostrar:hover::before{
    content: "person_off";
}

.material-icons.hoverOcultar::before{
    content: "person_off";
}

.material-icons.hoverOcultar:hover::before{
    content: "person";
}

.table th, .table td { 
    vertical-align: middle;
}