
<div class="wrapper">
	<div class="page-header page-header-small">
		<div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/blog-entry.jpg');">
		</div>
		<div class="container">
			<div class="content-center">
				<h1 class="title" style="visibility: hidden;">This is our great company.</h1>
				<div class="text-center" style="visibility: hidden;">
				  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
					<i class="fab fa-facebook-square"></i>
				  </a>
				  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
					<i class="fab fa-twitter"></i>
				  </a>
				  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
					<i class="fab fa-google-plus"></i>
				  </a>
				</div>
			</div>
		</div>
	</div>

<div class="adminScreen" style="margin: 10em 8em;">
    <div style="display: flex; justify-content: space-between;">
		<h1>Usuarios</h1>
		<button class="btn btn-primary" (click)="newUser()">Nuevo usuario</button>
	</div>
    <table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Username</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Email</th>
				<th scope="col">Rol</th>
				<th scope="col" style="text-align: center;">Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<th scope="row">{{ user.id }}</th>
				<th scope="row">{{ user.username }}</th>
				<td>{{ user.firstName }}</td>
				<td>{{ user.lastName }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.role }}</td>
				<td>
                    <div class="actionIcons">
                        <i class="material-icons iconButton" (click)="edit(user)">edit</i>
                        <i class="material-icons iconButton" >delete</i>
                    </div>
                </td>
			</tr>
		</tbody>
	</table>
      
</div>
</div>