
    <div class="modal-header justify-content-center">
        <div class="modal-profile">
            <i class="now-ui-icons users_circle-08"></i>
        </div>
    </div>
    <div class="modal-body">
        <p>Por favor iniciar sesión para acceder a estos beneficios.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link btn-neutral">Atras</button>
        <button type="button" class="btn btn-link btn-neutral" (click)="close()">Cerrar</button>
    </div>
  