<footer class="footer"
	data-background-color="black">
	<div class="footerContainer">

		<div class="logo">
			<img src="../../../assets/img/logoGCForDarkBack.png"
				alt="Logo">
		</div>

		<div class="info-column">
			<h4>Información</h4>
			<ul>
				<a routerLink=""><li class="footerElement">Inicio</li></a>
				<a routerLink="nosotros"><li class="footerElement">Quiénes Somos</li></a>
				<a routerLink="servicios"><li class="footerElement">Servicios</li></a>
				<a routerLink="blogs"><li class="footerElement">Blog</li></a>
				<a routerLink="contacto"><li class="footerElement">Contacto</li></a>
			</ul>
		</div>
		<div class="info-column">
			<h4>Contacto</h4>
			<ul>
				<li class="footerElement">
					<table>
						<tbody>
							<tr>
								<td>
									<i class="material-icons">room</i>
								</td>
								<td style="padding: 0 0.5em;vertical-align: baseline;">
									<a href="https://goo.gl/maps/etvG4oHGJD8y1KoC8">Parque Empresarial Ciudad Colón</a>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
				<br>
				<li class="footerElement">
					<table>
						<tbody>
							<tr>
								<td>
									<i class="material-icons">mail</i>
								</td>
								<td style="padding: 0 0.5em;vertical-align: baseline;">
									<a href="mailto:gestiondelcambio.ca@gmail.com">gestiondelcambio.ca@gmail.com</a>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
				<br>
				<li class="footerElement">
					<table>
						<tbody>
							<tr>
								<td>
									<i class="material-icons">call</i>
								</td>
								<td style="padding: 0 0.5em;">
									<a href="tel:+593994201081">+593 994201081</a>
									<br>
									<a href="tel:+593992309466">+593 992309466</a>
								</td>
							</tr>
						</tbody>
					</table>
				</li>
				<br>
			</ul>
		</div>
		<div class="info-column">
			<h4>Redes Sociales</h4>
			<ul>
                <li class="footerSocial">
					<a class="nav-link"
						rel="tooltip"
						title="Follow us on LinkedIn"
						data-placement="bottom"
						href="https://www.linkedin.com/company/gesti%C3%B3n-cambio/"
						target="_blank">
						<i class="fab fa-linkedin"></i>
						<p class="d-lg-none d-xl-none">LinkedIn</p>
					</a>
				</li>
				<li class="footerSocial">
					<a class="nav-link"
						rel="tooltip"
						title="Follow us on Instagram"
						data-placement="bottom"
						href="https://www.instagram.com/gestionth.ca/"
						target="_blank">
						<i class="fab fa-instagram"></i>
						<p class="d-lg-none d-xl-none">Instagram</p>
					</a>
				</li>
				<li class="footerSocial">
					<a class="nav-link"
						rel="tooltip"
						title="Contactanos por WhatsApp"
						data-placement="bottom"
						href="https://wa.me/+593994201081"
						target="_blank">
						<i class="fab fa-whatsapp"></i>
						<p class="d-lg-none d-xl-none">WhatsApp</p>
					</a>
				</li>
			</ul>
		</div>
        <div style="display: none;">
            
            <!-- <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">
                    Invision
                </a>
                . Coded by
                <a href="https://www.creative-tim.com" target="_blank">
                    Creative Tim
                </a>
                .
            </div> -->
        </div>
	</div>
</footer>
